.column.is-one-third
    .box.bookmarkBox
        .level
            .level-left
                h5.bookmarkTitle= bookmark.bookmark_name
            .level-right
                button.button.is-primary.level-item x
        p.bookmarkCategory= bookmark.category
        p.bookmarkNotes= bookmark.notes
        a(href=bookmark.href) Go to Site