<!DOCTYPE html>
html(lang="en")
    head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel= "shortcut icon" href="/images/favicon.ico" type="image/x-icon")
<<<<<<< HEAD
=======
    link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
>>>>>>> ae3c57e594139bc10d53034901753baa7df1ef6e

    //- Bulma
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" crossorigin="anonymous")


    //- Local CSS
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/style.css")

    //- JQuery JS
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")

    //- Local JS
    script(src="/js/scripts.js", type="text/javascript")


    body
        nav.navbar(role="navigation" aria-label="main navigation")
            .navbar-brand
                a.navbar-item(href="/profile")
                    img#navLogo(src="/images/logo.svg")

                a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")

            #navbarBasicExample.navbar-menu
                .navbar-start
                    a.button(class="btn-hover color-1" href="/profile") My Dashboard
                    a.button(class="btn-hover color-1" href="/about") About



                .navbar-end
                    .navbar-item
                        .buttons
<<<<<<< HEAD
                        a.button(class="btn-hover color-1" href="/login") Log In
                        a.button(class="btn-hover color-1" href="/logout") Log Out
=======
                        if isAuthenticated
                            a.button(class="btn-hover color-1" href="./logout") Log Out
                        else
                            a.button(class="btn-hover color-1" href="/login") Log In
>>>>>>> cc03ba55566d07b382b49e03808b85d5935260dc

        .container
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    body
        //- This is where all our views will render...
