<!DOCTYPE html>
html(lang="en")
    head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Bulma
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" crossorigin="anonymous")

    //- Local CSS
    link(rel="stylesheet", href="/css/style.css")

    //- Local JS
    script(src="/js/scripts.js", type="text/javascript")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")

    body
        nav.navbar(role="navigation" aria-label="main navigation")
            .navbar-brand
                a.navbar-item(href="https://bulma.io")
                    img(src="https://bulma.io/images/bulma-logo.png" width="112" height="28")

                a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")

            #navbarBasicExample.navbar-menu
                .navbar-start
                    a.navbar-item Home
                    a.navbar-item Documentation

                    .navbar-item.has-dropdown.is-hoverable
                        a.navbar-link More

                        .navbar-dropdown
                            a.navbar-item About
                            a.navbar-item Jobs
                            a.navbar-item Contact
                            hr.navbar-divider
                            a.navbar-item Report an issue

                .navbar-end
                    .navbar-item
                        .buttons
                        a.button.is-primary
                            strong Sign up
                        a.button.is-light Log in
                        a.button.is-primary(href="/logout") Logout

        .container
