<!DOCTYPE html>
html(lang="en")
    head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


    //- Bulma
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" crossorigin="anonymous")


    //- Local CSS
    ink(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/style.css")

    //- JQuery JS
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")

    //- Local JS
    script(src="/js/scripts.js", type="text/javascript")
    

    body
        nav.navbar.is-light(role="navigation" aria-label="main navigation")
            .navbar-brand
                a.navbar-item(href="/profile")
                    img#navLogo(src="/images/logo.svg")

                a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")

            #navbarBasicExample.navbar-menu
                .navbar-start
                    a.navbar-item(href="/profile") My Dashboard
                    a.navbar-item(href="/about") About

            

                .navbar-end
                    .navbar-item
                        .buttons
                        a.button.is-light(href="/login") Log in
                        a.button.is-light(href="/logout") Logout

        .container
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    body
        //- This is where all our views will render...
