include includes/header.pug

br
h1.title.is-1 About
hr    
div.container
    div(class="columns")
    div(class="column")
    a(href="https://placeholder.com")
        img(src="https://via.placeholder.com/150")
    div(class="column")
        img(src="https://via.placeholder.com/150")
footer.footer
    content.has-text-centered()
        p Curator 
