include includes/header.pug

br
h1#styleTitle2.title.is-1 Your New Favorite Bookmark Manager.
hr    

    
  
//-IMAGE CONTAINER
div(class="columns")
        div(class="column")
            a(href="https://placeholder.com")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
    
      
footer.footer
    content.has-text-centered()
        p Curator 
