include includes/header.pug

br
h1#styleTitle2.title.is-1 Your New Favorite Bookmark Manager.
hr    

<<<<<<< HEAD
section.hero.is-primary-medium
        div.hero-body
            h1.title.is-1 Curator
            h2.subtitle.is-2 Your Favorite Bookmark Manager
            h4 Something about something here like 1 paragraph
br

=======
    
  
//-IMAGE CONTAINER
div(class="columns")
        div(class="column")
            a(href="https://placeholder.com")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
            img( style="border-radius: 50%;" src="https://via.placeholder.com/125")
        div(class="column")
    
      
>>>>>>> f40f863229a2d8d47d305280535b74c294f90ba5
footer.footer
    content.has-text-centered()
        p Curator 
