include includes/header.pug
nav.navbar.is-light
    div.navbar-brand
        a.navbar-item(href="")
            img#logoAbout(src="/images/logo.svg" width= "112" height= "28")
    div.navbar-menu
        div.navbar-start
         a.navbar-item(href="") My Dashboard
         a.navbar-item(href="") About
br
h1.title.is-1 Explanation
hr    

section.hero.is-primary-medium
        div.hero-body
            h1.title.is-1 Curator
            h2.subtitle.is-2 Your Favorite Bookmark Manager
            h4 Something about something here like 1 paragraph
br

footer.footer
    content.has-text-centered()
        p Curator 
