include includes/header.pug

h1.title.block.has-text-centered Profile page
br
.container(style="width:90%;margin-top:20px;")
    .columns.is-8
        .column.is-one-quarter
            aside.menu
                .level
                    .level-left
                        p.menu-label.level-item Collections
                    .level-right
                        button.button.is-block.is-primary.level-item#addNewCollection +
                hr
                .modal#collectionModal
                    .modal-background
                    .modal-content
                        h3 Create a New Collection
                        form(method="POST" action="")
                            .field
                                .control
                                    label.label(for="addCollectionName") Collection Name
                                    input.input(type="text" name="addCollectionName" placeholder="")
                            .field
                                .control
                                    button.button.is-primary(type="submit" id="addCollectionBtn") Submit
                    button.modal-close.is-large(aria-label="close")

                ul.menu-list#allCollections
                    li
                        a.collectionTitle Example Collection
                            ul.menu-list.collectionSubtitle
                                li
                                    a(href="#") Documentation
                                li
                                    a(href="#") Tutorials
                                li
                                    a(href="#") Other


        .column.is-three-quarters
            #bookmarkDisplay
                .level
                    .level-left
                        h1.collectionTitle.level-item Example Collection
                    .level-right
                        button.button.is-block.is-primary.level-item(href="") +

                h3.collectionSubtitle Documentation
                hr
                .box.is-one-quarter
                    h3.bookmarkTitle Example
                    .p.bookmarkNotes Pulled from database information. Notes Notes Notes
                    a(href="#") Go to Site
                for bookmark in bookmarks
                    include includes/bookmark.pug


