include includes/header.pug

h1.title.has-text-centered Sign up

if errors
    br
    .notification.is-danger
        each err in errors
            p= '• ' + err.msg
        br
        p Please try again.
br
form(method="POST" action="/register")
    .field
        .control
            label.label(for="username") Username
            input.input(type="text" name="username" placeholder="Enter a username")
    .field
        .control
            label.label(for="email") Email
            input.input(type="email" name="email" placeholder="Enter your email")
    .field
        .control
            label.label(for="password") Password
            input.input(type="password" name="password" placeholder="Enter a password")
    .field
        .control
            label.label(for="passwordMatch") Re-enter Password
            input.input(type="password" name="passwordMatch" placeholder="Re-enter your password")

    a.button(href='/') Back
    button.button.is-primary(type="submit") Sign up
