include includes/header.pug
br
br
h1.title.has-text-centered Sign up

if errors
    br
    .notification.is-danger
        each err in errors
            p= '• ' + err.msg
        br
        p Please try again.
br
.container.register
    form(method="POST" action="/register")
        .field
            .control
                label.label(for="username") Username *
                input.input(type="text" name="username" placeholder="Enter a username")
        .field
            .control
                label.label(for="email") Email *
                input.input(type="email" name="email" placeholder="Enter your email")
        .field
            .control
                label.label(for="password") Password *
                input.input(type="password" name="password" placeholder="Enter a password")
        .field
            .control
                label.label(for="passwordMatch") Confirm Password *
                input.input(type="password" name="passwordMatch" placeholder="Confirm password")
                small.has-text-right(style="width:100%") * Required

        .field
            .control
                br
                a.button( class="btn-hover color-1" href='/') Back
                button.button.is-primary( class="btn-hover color-1" type="submit" style="margin-left:10px;color: #f7f7f7a8;font-family: 'Comfortaa', cursive;") Sign up
