html, body {


    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
    margin:0;
    padding:0;
    height:100%;
    width:100vw

}



.formContainer{
    max-width: 25%;
    text-align: center
}

body.container {
    margin: 50px auto;
    width: 25%;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.box {
    height: 200px;
    width: 300px;
    background: #f4f4f4;
}

::-webkit-scrollbar {
    display: none;
}

.logoHeading{
    text-align: center
}

#logo{
    width: 500px;
    margin-left: 155px;
}

#navLogo{
   transform: scale(2);
   transform-origin: left;

}



.footer{

        position:absolute;
        bottom:0;
        width:100%;
        height:30px;
        min-height: 40hv;
        background-color: transparent


}

/* Register */
.register {
    max-width: 400px;
    padding: 0 14px;
}